*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    padding: 20px 100px;
}

header > .header-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .header-icon:hover{
    cursor: pointer;
}

header > .header-icon > i{
    padding: 10px;
    font-size: 2em;
}

header > .header-icon > h1{
    font-size: 2em;
}

header > #navbar_list > li{
    display: inline-block;
    padding: 0 50px;
}
header > #navbar_list > li > a{
    font-size: 1.3em;
    text-decoration: none;
}


/*starting main bookshop page*/
.container{
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(132deg, #19547b 0%, #ffd89b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.container > .left_icon, .right_icon{
    width: 130px;
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 1.2em;
}

.container > .left_icon{
    background-color: cornflowerblue;
}

.container > .right_icon{
    background-color: chartreuse;
}

.container > .left_icon:hover{
    background-color: #ffd89b;
    color: chocolate;
}

.container > .right_icon:hover{
    background-color: #ffd89b;
    color: chocolate;
}


.container > .left_icon, .right_icon:hover{
    cursor: pointer;
}

.container > .left_icon > i{
    font-size: 2em;
    color: black;
    padding: 30px;
}

.container > .content{
    width: 60%;
    height: 600px;
    border: 1px solid #A9C9FF;
    position: relative;
}

.container > .content > .content-container{
    display: none;
}
.container > .content > .content-container.active{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container > .content > .content-container.active > .images{
    width: 500px;
    height: 100%;
}
.container > .content > .content-container.active > .images > img{
    width: 100%;
    height: 100%;
}

.container > .content > .content-container.active > .book_information{
    width: 550px;
    height: 100%;
    text-align: center;
    padding: 200px 0;
}
.content > .content-container.active > .book_information > h1{
    font-size: 3em;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.content > .content-container.active > .book_information > h3{
    font-size: 1.5em;
    font-style: italic;
    height: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
}

.content > .content-container.active > .book_information > p{
    font-size: 1.6em;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #19547b;
}
.content > .content-container.active > .book_information > button{
    width: 130px;
    font-size: 1.1em;
    padding: 10px 0px;
    margin: 30px;
    border-radius: 30px;
    border: none;
    background-color: beige;
    color: darkblue;
}
.content > .content-container.active > .book_information > button:hover{
    cursor: pointer;
    background-color: lightcoral;
    color: slategrey;
}



.container > .order_div{
    width: 50px;
    height: 50px;
    background-color: #FFBBEC;
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container > .order_div:hover{
    cursor: pointer;
}